.released-Movie-Grid {
    background-color: black;
   }
   /* .grid-box-1 {
    background-color: black;
   } */
   .flex-container {
    display: flex;
    height: fit-content;
    /* background-color: cadetblue; */
   }
   .flexbox-item {
    margin: 16px;
   }
   .flexbox-item-1 {
    width: 76%;
    height: fit-content;
    /* background-color: black; */
   }
   .flexbox-item-2 {
    width: 24%;
    height: fit-content;
    flex-shrink: 0;
    /* background-color: cyan; */
   }
   .Released_poster {
    object-fit: contain;
    width: 100%;
    /* max-height: 350px; */
    margin-right: 10px;
    transition: transorm 450ms;
   }
   .upper_grid_poster {
    object-fit: contain;
    width: 100%;
    margin-right: 10px;
    transition: transorm 450ms;
   }